﻿@*@model IEnumerable<Global.Models.ViewModels.ProductViewModel>*@

@{
    ViewBag.Title = "Suit Supply Products";
}

@Html.AntiForgeryToken()

<div class="jumbotron">
    <h3>Products</h3>

    <table class="blueTable" id="productTable">
        <thead>
            <tr>
                <input type="text" placeholder="search..." id="txtSearch" style="height:30px"/>
            </tr>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Status</th>
                <th> 
                    <a href="/home/ProductDetail">ADD NEW</a>
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
    <p style="display:none" class="noDataMessage">No data found!</p>

</div>

@section templates
{
    @{Html.RenderPartial("_ProductTableTempleate");}
}


