﻿@model Global.Models.ViewModels.ProductViewModel

@{
    ViewBag.Title = "ProductDetail";
}


<div style="margin-top:20px">
    <table>
        <tr>
            <td>Name</td>
            <td><input  type="text" name="txtName" value="@Model.Name" /></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="number" step="any" name="txtPrice" value="@Model.Price" /></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><input type="checkbox" name="chkStatus"  checked="@Model.Status"  /></td>
        </tr>
        <tr>
            <td colspan="2"> <input type="button" name="btnSave"  value="@(Model.Id != 0 ? "UPDATE":"SAVE")" data-id="@Model.Id"/></td>
        </tr>
    </table>

</div>

