﻿
<script id="template-product-table" type="text/x-handlebars-template">
    {{#each products}}
    <tr class="item">
        <td>{{Id}}</td>
        <td>
            {{Name}}
        </td>
        <td>$ {{Price}}</td>
        <td>{{ImageUrl}}</td>

        {{#if Status}}
        <td>Active </td>
        {{else}}
            <td>Passive</td>
        {{/if}}
            <td>
                <a href="#" class="deleteProduct" data-id="{{Id}}">
                    Delete
                </a>
                /
                <a href="/home/ProductDetail/{{Id}}" class="updateProduct" title="Update Product">
                    Update
                </a>
            </td>
    </tr>
    {{/each}}
</script>